@import 'system';

@font-face {
	font-family: test;
	src: url('../../GoodDog.woff');
	font-weight: normal;
	font-stretch: condensed;
}

$black: #000;
$logo: #fed993;

html { 
	height: 100%;
	width: 100%; 
}

body { 
	padding: 0;
	box-sizing: border-box;
	font-family: "adobe garamond", garamond, hevetica, serif; 
	margin: 30px;
	height: 99.2%;
	background: #fff;
}

.outer-container {
	background: url("../../images/dummy.jpg") top center fixed no-repeat;
	width: 100%;
	height: 100%;

}

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	position:relative;
	background: rgba(255,255,255,0.8);
	z-index: 10;

	.content {
		top: 2%;
		position:relative;
		

		h1 {
			color: $white;
			@include logo;
			margin: 0;
			font-size: 54px;
			text-transform: lowercase;
			font-weight: normal;
		}

		h2 {
			max-width: 400px;
			margin: 75px auto 25px auto;
			color: $black;
			font-weight: normal;
			font-size: 41px;
		}

		p {
			max-width: 600px;
			margin: 0 auto;
			color: $black;
			font-size: 18px;
			font-family: arial, helvetica, sans-serif;
			font-weight: normal;
			line-height: 160%;
		}
	}
}

@include logoanimation;

@media screen and(max-width: 768px) {
	.container {
		padding: 20px;
	}
}






