html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

body {
  padding: 30px;
  margin: 0;
  font-family: "aktiv-grotesk-std", garamond, hevetica, serif;
  background: #fff;
  height: 100%;
  box-sizing: border-box; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

.outer-container {
  /* background: url("../../images/dummy.jpg") top center fixed no-repeat; */
  background: #e1e1e1;
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10; }
.container .content {
  position: relative;
  max-width: 630px;
  margin: 0 auto; }
.container .content h1 {
  color: white;
  -webkit-animation: logoanimation 10s ease-in-out 3s infinite;
  -moz-animation: logoanimation 10s ease-in-out 3s infinite;
  -o-animation: logoanimation 10s ease-in-out 3s infinite;
  -ms-animation: logoanimation 10s ease-in-out 3s infinite;
  animation: logoanimation 10s ease-in-out 3s infinite;
  margin: 0;
  font-size: 54px;
  text-transform: lowercase;
  font-weight: normal;
  font-family: "adobe-garamond-pro", garamond, hevetica, serif; }
.container .content h2 {
  max-width: 400px;
  margin: 80px auto 35px auto;
  color: black;
  font-weight: normal;
  font-size: 35px;
  font-style: italic;
  font-family: "adobe-garamond-pro", garamond, hevetica, serif; }
.container .content p {
  margin: 0 auto;
  color: black;
  font-size: 18px;
  font-weight: normal;
  line-height: 160%; }
.container .content .address {
  width: 49%;
  display: inline-block;
  margin-top: 80px; }

@-webkit-keyframes logoanimation {
  0% {
    color: white; }

  16% {
    color: #c0ffc2; }

  32% {
    color: #c0f7ff; }

  48% {
    color: #e0b8eb; }

  64% {
    color: #fe9393; }

  80% {
    color: #f9a46b; }

  100% {
    color: white; } }

@-moz-keyframes logoanimation {
  0% {
    color: white; }

  16% {
    color: #c0ffc2; }

  32% {
    color: #c0f7ff; }

  48% {
    color: #e0b8eb; }

  64% {
    color: #fe9393; }

  80% {
    color: #f9a46b; }

  100% {
    color: white; } }

@-o-keyframes logoanimation {
  0% {
    color: white; }

  16% {
    color: #c0ffc2; }

  32% {
    color: #c0f7ff; }

  48% {
    color: #e0b8eb; }

  64% {
    color: #fe9393; }

  80% {
    color: #f9a46b; }

  100% {
    color: white; } }

@keyframes logoanimation {
  0% {
    color: white; }

  16% {
    color: #c0ffc2; }

  32% {
    color: #c0f7ff; }

  48% {
    color: #e0b8eb; }

  64% {
    color: #fe9393; }

  80% {
    color: #f9a46b; }

  100% {
    color: white; } }

@media screen and (max-width: 768px) {
  .container {
    padding: 20px; }

  .container .content .address {
    display: block;
    width: 100%;
    margin-top: 40px; }

  .hide-mobile {
    display: none; }

  .container .content p {
    font-size: 0.9em; } }
